body {
    text-align: center;
    background-color: #ff0000;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    background-repeat: no-repeat;
    overflow-x: auto;
    background: url('../img/árvore-de-natal-close.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    margin: auto;
    border: 2px solid white;
    background-color: rgba(255, 0, 0, 0.4);
}

section {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: auto;
}

.days {
    display: flex;
    border-bottom: 1px solid white;
    font-size: 100%;
}

.days div {
    display: flex;
    width: 100%;
    color: white;
    font-style: italic;
    line-height: normal;
    font-size: 100%;
    border-right: 1px solid white;
    cursor: default;
}

section div {
    display: flex;
    width: 100%;
    color: white;
    font-style: italic;
    line-height: normal;
    font-size: 100%;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
}

section div:hover {
    color: green;
}

#frase-do-dia {
    font-size: 24px;
}

@media screen and (max-width: 990px) {
    .container {
        border: 2px solid white;
        background-color: rgba(255, 0, 0, 0.4);
    }

}